.sort-area {
  display: flex;
  width: 50vw;
  margin: 200px auto;

  border: 1px solid black;
}

.sort-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
  gap: 2px;

  align-items: end;
  justify-content: space-between;

  width: 20%;
  aspect-ratio: 1 / 1;
  padding: 5px;
  border: 1px solid black;
}

.sort-element {
  display: block;
  width: 100%;
  background-color: #272727;
}

i {
  margin-top: 10px;
  cursor: pointer;
}
