.title {
  margin-top: 2rem;
}

.howToUse {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  word-wrap: normal;
}

.howToUse i {
  margin: 0 10px;
}

.textContent {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  margin-bottom: 1rem;
}
