.title {
  margin-top: 1rem;
}

.source {
  text-decoration: none;
  color: #000;
  font-weight: 300;
  font-style: italic;
  border-bottom: 1px solid #ddd;
}

.howToUse {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  word-wrap: normal;
}

.howToUse i {
  margin: 0 10px;
}

.textContent {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  margin-bottom: 1rem;
}

.socialmedia {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.socialmedia a i,
.socialmedia i {
  border-right: 1px solid #ddd;

  margin: 0;
  padding: 0.5rem;
}

.socialmedia > i:first-child {
  background-color: #002f4d;
}

.socialmedia a:last-child i {
  border: none;
}
